{% extends 'base.html' %} {% block nav %}
<li class="nav-item">
  <a class="nav-link " aria-current="page" href="index">ABOUT US</a>
</li>
<li class="nav-item">
  <a class="nav-link " aria-current="page" href="summary_url"
    >URL SUMMARIZER</a
  >
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="summary_doc"
    >DOCUMENT SUMMARIZERT</a
  >
</li>
<li class="nav-item">
  <a class="nav-link " aria-current="page" href="summary_text"
    >TEXT SUMMARIZER</a
  >
</li>
{%endblock nav%} {% block content %} 
<form action="/doc_action_page" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
    <div class ="textfeild">
    <label for="pdfFile"><b class= "text"> <h4>Choose a PDF file: </h4> <b></label>
        <input type="file" name="pdfFile" id="pdfFile" accept=".pdf" required>
        <button type="submit">Upload PDF</button>
        <br></br>
      <label for="vol">  <h4>CON LENGTH: </h4></label>
      <input type="range" id="vol" name="vol" min="0" max="2"> 
       {% comment %} <div style="text-indent:30em">  <button type="button" class="btn btn-warning" >SUBMIT</button>  {% endcomment %}
       {% comment %} <div style="text-indent:30em">  <button type="button" class="btn btn-warning" > <input type="submit"> </div> {% endcomment %} 
    </div>
    </div>
</form>
{% endblock content %}
